.disclaimer-fade {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disclaimer-popup {
  margin: 25vh auto;
  background: white;
  max-width: 500px;
  color: black;
  z-index: 9;
}

.disclaimer-text > p {
  padding: 2rem;
}

.disclaimer-confirm {
  background-color: black;
  color: white;
  margin: 0 2rem 2rem;
}

.disclaimer-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.disclaimer-info {
  flex: 1;
  max-width: 650px;
  padding: 10px 25px;
}

.disclaimer-info a {
  color: white;
}

.disclaimer-options {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  max-width: 550px;
  padding: 0 2rem 1rem;
}

.option-label {
  margin-right: 10px;
  cursor: pointer;
}

.option-checkbox {
  margin-right: 5px;
}

.disclaimer-toggle {
  text-decoration: underline;
}

.disclaimer-action {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px 25px;
  margin: 0 25px 0 0;
  border: none;
}

/* Media query for screens under 500px */
@media (max-width: 500px) {
  .disclaimer-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .disclaimer-popup {
    margin: 7vh auto;
  }

  .disclaimer-options {
    margin-bottom: 25px;
  }

  .disclaimer-action {
    margin: 0 auto 25px;
  }
}
