.disclaimer-fade {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.disclaimer-popup {
  margin: 25vh auto;
  background: #454545;
  max-width: 700px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.disclaimer-title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
}

.disclaimer-text {
  text-align: center;
  color: white;
}

.disclaimer-link {
  text-align: center;
}

.disclaimer-link a {
  color: white;
  text-decoration: underline;
}

.disclaimer-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #454545;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.disclaimer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1021px;
  margin: 0 auto;
  align-items: center;
}

.disclaimer-info {
  padding: 1rem;
}

.disclaimer-info p {
  margin-bottom: 0;
}

.disclaimer-info a {
  color: white;
}

.disclaimer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 0 1rem 1rem;
}

.disclaimer-options {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.option-label {
  margin-right: 10px;
  cursor: pointer;
  color: white;
  font-weight: normal;
}

.option-checkbox {
  margin-right: 5px;
}

.disclaimer-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.disclaimer-cancel {
  width: 30%;
  border: #fff solid 0.5px;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 0;
  color: white;
}

.disclaimer-confirm {
  width: 30%;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0;
  margin-bottom: 0;
}

.disclaimer-toggle {
  border: #fff solid 0.5px;
  cursor: pointer;
  padding: 0.5rem;
  width: 20%;
  margin-bottom: 0;
}

.disclaimer-action {
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  width: 20%;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .disclaimer-toggle,
  .disclaimer-action,
  .disclaimer-cancel,
  .disclaimer-confirm {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .disclaimer-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .disclaimer-popup {
    margin: 7vh auto;
  }

  .disclaimer-wrapper,
  .disclaimer-buttons {
    flex-direction: column;
  }
}
